/* estilos.css */
body {
    text-align: center;
}

.btningresar {
    /* Estilos específicos para el botón de ingresar */
    display: block;
    margin: 0 auto; /* Centra el botón horizontalmente */
    margin-top: 10px; /* Ajusta el margen superior según tus preferencias */
    padding: 8px 20px;
    border: none;
    background-color: red; /* Color de fondo rojo */
    color: blue; /* Color del texto azul */
    border-radius: 25px; /* Redondea las esquinas */
    font-size: 16px; /* Tamaño del texto */
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

table {
    border: 2px solid #353a46;
    background-color: #3abaf1;
    margin: 0 auto;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #1c94c8;
    color: white;
    padding: 8px 10px;
    margin: 8px 0;
    border: none;
    width: 40%;
}
